<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://pro-app-qn.fir.im/a4cd787de9a2bf1810b9e5b839790668fa116fa5?attname=syt_%E6%96%B0%E5%BD%A9%E5%BD%A9%E7%A5%A8Target_resigned.ipa_0.0.2.ipa&e=1530268844&token=LOvmia8oXF4xnLh0IdH05XMYpH6ENHNpARlmPc-T:dEfLjDashdNAjDF6PTDjacGldKc=</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://dzcapp.web6.aakk66.com/ios/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://dzcapp.web6.aakk66.com/ios/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yy.bq</string>
				<key>bundle-version</key>
				<string>1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>新彩彩票</string>
				<key>title</key>
				<string>新彩彩票/string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
